body{
    background-color: rgb(26, 15, 15);
}
.MoreInfoTitle{
    color: white;
    font-size: 2.5rem;
}
.MoreInfoProfile{
    background-color: #FE0074;
    margin-bottom: 6.5rem;
}
.img-div{
    height: "60px";
    width: "60px";

}
.uploadImg{
    width: "100%";
    height: "100%";
    position: "absolute";
}
.MoreInfoForm label{
    color: #ED3B9D;
    font-size: 1.3rem;
}

.infomsg{
    padding-left:100px;
    padding-top:30px;
    color:#FE72B2;
}
.moreinfo{
    padding-left: 100px;
    padding-top:50px;
    color:#FE72B2;
    background-color:white;
    border: 0px;
    border-bottom: 5px;
    outline: 0px;

}

.input{
    border: 0px !important;
    border-bottom: 2px solid #FE0074 !important;
    margin-bottom: 40px;
    width: 300px;
}

.input:hover {
    outline: 0px;
    border: 0px;
}

input:focus { 
    outline: none !important;
}
textarea:focus { 
    outline: none !important;
}


.moreinfobutton{
    color:white !important;
    background-color: #ED3B9D !important;
    margin-top:70px;
    margin-bottom:100px;
    width: 300px;
    height:60px;
   
    border-radius: 10px;
}

